{
  parser: "babel-eslint",
  extends: "airbnb",
  plugins: [
    "react",
    "jsx-a11y",
    "import"
  ],
  env: {
    browser: true,
    node: true
  },
  rules: {
    "import/prefer-default-export": 0,
    "no-confusing-arrow": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/sort-comp": 0,
    "class-methods-use-this": 0,
  },
  settings: {
    "import/resolver": {
      webpack: {
        config: './webpack.config.js'
      }
    }
  }
}
