@import 'src/styles/colors.scss';

.sider {
  .logo {
    position: relative;
    height: 32px;
    border-radius: 6px;
    margin: 16px;
    background: $border-color;
    cursor: pointer;
    text-align: center;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}
