$background-color:                  #222;
$font-color:            rgba(#fff, 0.67);
$strong-color:                   #4d99af;
$content-color:                     #fff;
$border-color:                      #333;
$background-color-2:                #eee;
$danger-color:                   #f04134;
$disable-color:          rgba(#ccc, 0.5);
$failed-color:                   #ffbf00;
$box-shadow-color:               #e9e9e9;
